/* Let's do the math. */
/* To determine font size we do f = s / b * 100%, where s is the font size in pixels and b is the breakpoint in pixels */
/* Line height is the same formula, but at 125%. */
/* Default/Mobile */
body {
  font-size: 100%;
  line-height: 125%;
}

p {
  font-size: 2.5vw;
  line-height: 3.125vw;
}

h1 {
  font-size: 10.521875vw;
  line-height: 13.15234375vw;
}

h2 {
  font-size: 7.89375vw;
  line-height: 9.8671875vw;
}

h3 {
  font-size: 5.921875vw;
  line-height: 7.40234375vw;
}

h4 {
  font-size: 3.3328125vw;
  line-height: 4.166015625vw;
}

h5 {
  font-size: 3.3328125vw;
  line-height: 4.166015625vw;
}

h6 {
  font-size: 2.5vw;
  line-height: 3.125vw;
}

ul li, ol li {
  font-size: 2.1875vw;
  line-height: 2.8125vw;
}

small {
  font-size: 81.25%;
}

/* Tablet Breakpoint */
@media screen and (min-width: 40em) {
  p {
    font-size: 1.5625vw;
    line-height: 1.953125vw;
  }

  h1 {
    font-size: 6.576171875vw;
    line-height: 8.2202148438vw;
  }

  h2 {
    font-size: 4.93359375vw;
    line-height: 6.1669921875vw;
  }

  h3 {
    font-size: 3.701171875vw;
    line-height: 4.6264648438vw;
  }

  h4 {
    font-size: 2.0830078125vw;
    line-height: 2.6037597656vw;
  }

  h5 {
    font-size: 2.0830078125vw;
    line-height: 2.6037597656vw;
  }

  h6 {
    font-size: 1.5625vw;
    line-height: 1.953125vw;
  }

  ul li, ol li {
    font-size: 1.3671875vw;
    line-height: 1.7578125vw;
  }
}
/* Desktop Breakpoint */
@media screen and (min-width: 64em) {
  p {
    font-size: 1.1111111111vw;
    line-height: 1.3888888889vw;
  }

  h1 {
    font-size: 4.6763888889vw;
    line-height: 5.8454861111vw;
  }

  h2 {
    font-size: 3.5083333333vw;
    line-height: 4.3854166667vw;
  }

  h3 {
    font-size: 2.6319444444vw;
    line-height: 3.2899305556vw;
  }

  h4 {
    font-size: 1.48125vw;
    line-height: 1.8515625vw;
  }

  h5 {
    font-size: 1.48125vw;
    line-height: 1.8515625vw;
  }

  h6 {
    font-size: 1.1111111111vw;
    line-height: 1.3888888889vw;
  }

  ul li, ol li {
    font-size: 0.9722222222vw;
    line-height: 1.25vw;
  }
}
/* HiDPI/Ultrawide Breakpoint */
@media screen and (min-width: 90em) {
  p {
    font-size: 0.7407407407vw;
    line-height: 0.9259259259vw;
  }

  h1 {
    font-size: 3.1175925926vw;
    line-height: 3.8969907407vw;
  }

  h2 {
    font-size: 2.3388888889vw;
    line-height: 2.9236111111vw;
  }

  h3 {
    font-size: 1.7546296296vw;
    line-height: 2.193287037vw;
  }

  h4 {
    font-size: 0.9875vw;
    line-height: 1.234375vw;
  }

  h5 {
    font-size: 0.9875vw;
    line-height: 1.234375vw;
  }

  h6 {
    font-size: 0.7407407407vw;
    line-height: 0.9259259259vw;
  }

  ul li, ol li {
    font-size: 0.6481481481vw;
    line-height: 0.8333333333vw;
  }
}

/*# sourceMappingURL=output.css.map */
